.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 35px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.skillsFormat {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 25px;
  justify-content: center;
  height: 250px;
  width: 500px;
  gap: 8px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px black;
  transition: all 0.3s ease-in-out;

  /* background-color: red; */
  h1 {
    color: #ff014f;
    font-size: 25px;
    font-weight: 800;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    li {
      color: black;
      line-height: 1.5;
      font-size: 16px;
    }
  }
  &:hover {
    transform: scale(1.02);
  }
}

#basicCoding {
  h1 {
    font-size: 22px;
  }
}
#skillsRange {
  height: 250px;
  width: 1050px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  label {
    font-size: 28px;
    text-shadow: 0 0 10px blue;
    font-weight: 600;
    color: white;
  }
  .rangeCont {
    height: 60px;
    width: 150px;
    background-color: greenyellow;
    border-radius: 15px;
    padding: 15px 520px;
    margin-right: 25px;
    margin-left: 75px;
    position: relative;
    overflow: hidden;
  }
}
.progress {
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: rgb(0, 0, 255);
  padding: 8px 0;
  transition: all 0.5s ease-in-out;
}
.frontProg {
  width: 90%;
  animation: frontProgress 2s ease-in-out 1 forwards;
}
.backProg {
  width: 40%;
  animation: backendProgress 2s ease-in-out 1 forwards;
}
.dsaProg {
  animation: dsaProgress 2s ease-in-out 1 forwards;
}
@keyframes dsaProgress {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes frontProgress {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes backendProgress {
  from {
    width: 0%;
    font-size: 5px;
  }
  to {
    font-size: 20px;
    width: 40%;
  }
}
