@import "tailwindcss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
}
.mainDiv {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes moveLeftPic {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes shadowsMinorText {
  0% {
    text-shadow: 0 0 60px black;
  }
  50% {
    text-shadow: 0 0 65px red;
  }
  100% {
    text-shadow: 0 0 60px black;
  }
}
